:9000
reverse_proxy {
	# Set ip-addresses here
	to n1:8090
	to n2:8090
	to n3:8090

	lb_policy round_robin

	health_uri /api/v1/health
    health_status 200
    health_interval 30s
    health_timeout 10s
}